*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: agdasima;
    src: url(./fonts/Agdasima-Regular.ttf);
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: montserrat, sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

#about {
    border: 1px solid pink;

    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    transform: translateY(-30%) skewY(-10deg);
    padding: 50px 0;
    height: 500px;

}

.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(30%) skewY(10deg);

    border: 1px solid pink;
}

.profile {
    position: relative;
    width: 40%;
}

.about__info {
    width: 60%;
    background-color: #fff;
    border: 1px solid red;
    padding: 1em 2em;

}

.about__info p {
    color: rgb(88, 85, 85);
}

.profile__text {
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-family: agdasima;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px #eae8ea
}

/* portfolio section */

#portfolio {
    background-color: antiquewhite;
}