*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: agdasima;
    src: url(./fonts/Agdasima-Regular.ttf);
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: montserrat, sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.icon {
    width: 30px;
}

/* HEADER */

#about {
    border: 1px solid pink;

    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    transform: translateY(-30%) skewY(-10deg);
    padding: 50px 0;
    height: 500px;

}

.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(30%) skewY(10deg);

    border: 1px solid pink;
}

.profile {
    position: relative;
    width: 40%;
}

.about__info {
    width: 60%;
    background-color: #fff;
    border: 1px solid red;
    padding: 1em 2em;

}

.about__info p,
.item__description {
    color: rgb(88, 85, 85);
}

.profile__text {
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-family: agdasima;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px #eae8ea
}

/* portfolio section */

#portfolio {
    padding: 1em 0 2em;
}

.porfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2em;
}

.item {
    box-shadow: 2px 5px 10px #888888;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.name-links h3 {
    margin: 0;
}

.item__description {
    padding: 0 0.5em;
    font-size: 1.125rem;
}



.item__links {
    margin-left: auto;
}